<div class="bg-slate-600 w-full">
    <p>Mitt företag</p>
    <p class="mt-8">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aliquid alias corporis voluptatibus omnis natus, cum aut, voluptates in blanditiis eos ut, perferendis ullam mollitia unde. Ea molestiae alias unde.
    </p>
</div>


</body>
</html>